<% layout('/layout/boilerplate') %>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#personalInfo">
                                Personal Information
                            </button>
                        </h2>
                        <div id="personalInfo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p>Name : <%= scholar.name %>
                                </p>
                                <p>Enrollment No : <%=(scholar.enrollmentNo)?scholar.enrollmentNo:"Not Specified" %>
                                </p>
                                <p>Email : <%=scholar.email%>
                                </p>
                                <p>Contact No : <%= scholar.contactNo%>
                                </p>
                                <p>Gender : <%=scholar.gender %>
                                </p>
                                <p>Date of Birth : <%= scholar.dob%>
                                </p>
                                <p>Father Name : <%= scholar.fatherName %>
                                </p>
                                <p>Mother Name : <%= scholar.motherName %>
                                </p>
                                <div>
                                    <%if(scholar.gender==="Female" && scholar.husbandName) {%>
                                        <p>Husband Name : <%= scholar.husbandName %>
                                        </p>
                                        <%}%>
                                </div>
                                <p>Religion : <%= scholar.religion %>
                                </p>
                                <p>Category : <%= scholar.category%>
                                </p>
                                <p>Permanent Address : <%= scholar.permanentAddress%>
                                </p>
                                <p>Correspondance Address : <%= scholar.correspondanceAddress %>
                                </p>
                                <p>Guardian's Name : <%=scholar.guardian.name %>
                                </p>
                                <p>Guardian's Email : <%=scholar.guardian.email %>
                                </p>
                                <p>Guardian's Contact No : <%= scholar.guardian.contactNo%>
                                </p>
                                <p>Day Scholar : <%= (scholar.dayScholar)?"Yes":"No" %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#educationalInfo">
                                Educational Information
                            </button>
                        </h2>
                        <div id="educationalInfo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p>Exams Qualified : <%= scholar.additionalExams%>
                                </p>
                                <div>
                                    <strong>Post Graduation</strong>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Degree</th>
                                                <th>University</th>
                                                <th>Passing year</th>
                                                <th>Percentage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <%= scholar.education.postGraduation.degreeType%>
                                                </td>
                                                <td>
                                                    <%= scholar.education.postGraduation.universityName%>
                                                </td>
                                                <td>

                                                    <%= scholar.education.postGraduation.passingYear%>
                                                </td>
                                                <td>
                                                    <%= scholar.education.postGraduation.percentage%>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <strong>Graduation</strong>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Degree</th>
                                                <th>University</th>
                                                <th>Passing year</th>
                                                <th>Percentage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <%= scholar.education.graduation.degreeType%>
                                                </td>
                                                <td>
                                                    <%= scholar.education.graduation.universityName%>
                                                </td>
                                                <td>
                                                    <%= scholar.education.graduation.passingYear%>
                                                </td>
                                                <td>
                                                    <%= scholar.education.graduation.percentage%>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <strong>Senior Secondary</strong>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Board Name</th>
                                                <th>Passing Year</th>
                                                <th>Marks Obtained</th>
                                                <th>Max Marks</th>
                                                <th>Division</th>
                                                <th>Percentage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <%= scholar.education.seniorSecondary.boardName %>
                                                </td>
                                                <td>
                                                    <%= scholar.education.seniorSecondary.yearOfPassing %>
                                                </td>
                                                <td>
                                                    <%= scholar.education.seniorSecondary.marksObtained %>
                                                </td>
                                                <td>
                                                    <%= scholar.education.seniorSecondary.maxMarks%>
                                                </td>
                                                <td>
                                                    <%= scholar.education.seniorSecondary.division%>
                                                </td>
                                                <td>
                                                    <%= scholar.education.seniorSecondary.percentage%>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                    <strong>Secondary</strong>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Board Name</th>
                                                <th>Passing Year</th>
                                                <th>Marks Obtained</th>
                                                <th>Max Marks</th>
                                                <th>Division</th>
                                                <th>Percentage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <%= scholar.education.highSchool.boardName %>
                                                </td>
                                                <td>
                                                    <%= scholar.education.highSchool.yearOfPassing %>
                                                </td>
                                                <td>
                                                    <%= scholar.education.highSchool.marksObtained %>
                                                </td>
                                                <td>
                                                    <%= scholar.education.highSchool.maxMarks%>
                                                </td>
                                                <td>
                                                    <%= scholar.education.highSchool.division%>
                                                </td>
                                                <td>
                                                    <%= scholar.education.highSchool.percentage%>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#workExperience">
                                Work Experience
                            </button>
                        </h2>
                        <div id="workExperience" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p>Staff At Banasthali : <%=(scholar.staffAtBanasthali)?"Yes":"No"%>
                                </p>
                                <p>Worked as teacher at Banasthali or elsewhere : <%= (scholar.workAsTeacher)?"Yes":"No"
                                        %>
                                </p>
                                <div>
                                    <%if(scholar.workExperience.length===0){%>
                                        <p>Work Experience : "Not Specified"
                                        </p>
                                        <%}else{%>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Company Name </th>
                                                        <th>Designation</th>
                                                        <th>Duration</th>
                                                        <th>Domain/Field</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%for(let job of scholar.workExperience){%>
                                                        <tr>
                                                            <td>
                                                                <%=job.companyName%>
                                                            </td>
                                                            <td>
                                                                <%=job.designation%>
                                                            </td>
                                                            <td>
                                                                <%=job.duration%>
                                                            </td>
                                                            <td>
                                                                <%=job.domain%>
                                                            </td>
                                                        </tr>
                                                        <%}%>
                                                </tbody>
                                            </table>
                                            <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#courseDetails">
                                Course Details
                            </button>
                        </h2>
                        <div id="courseDetails" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p>Department : <%= scholar.department%>
                                </p>
                                <p>Research Supervisor : <%= scholar.researchSupervisor[0].name %>
                                        <% if(scholar.researchSupervisor[1]) { %>
                                            , <%= scholar.researchSupervisor[1].name%>
                                                <% } %>

                                </p>
                                <p>Topic : <%= scholar.topic%>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" mt-3">
                    <form action="/admin/scholars/<%=scholar._id%>?_method=PATCH" class="d-inline" method="POST">
                        <button class="btn btn-success">Edit</button>
                    </form>
                </div>
            </div>


            <div class="col-md-6">
                <h1>PORTION FOR COURSEWORK</h1>
            </div>
        </div>
    </div>